@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background: #7C54C2;
  color: #202020;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.label {
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 14px;
}

input:focus, button:focus {
  outline: none;
}